<%- include('../includes/head') %>

<div class="container">
    <h4>Bem vindo ao EasyJur, seu sistema facilitador.</h4>
    <p>Faça o seu login de acesso com sua conta Microsoft</p>
    
    <section>
        <div class="container">
          <a href="/auth/signin" class="btn btn-outline-primary">
            <object type="image/svg+xml" data="https://s3-eu-west-1.amazonaws.com/cdn-testing.web.bas.ac.uk/scratch/bas-style-kit/ms-pictogram/ms-pictogram.svg" class="x-icon"></object> 
            Entrar com a conta Microsoft</a>
        </div>
    </section>
</div>

<%- include('../includes/footer')  %>